* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}

h2 {
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: white;
  font-weight: 700;
  font-size: 16px;
}

h3 {
  color: #fff;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background: url(img/pxfuel.jpg) no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

.logo img {
  width: 100px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.contacts {
  background: rgb(0 0 0 / 80%);
  padding: 28px 0 25px;
  /* box-shadow: 0 0 4px rgb(0 0 0 / 40%); */
}
.contacts ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.adress {
  display: flex;
  align-items: center;
}

.adress:hover {
  transform: scale(1.1);
  transition: 1s;
}

.tel:hover {
  transform: scale(1.1);
  transition: 1s;
}

.tel {
  display: flex;
  align-items: center;
}
.contacts p {
  color: #e41515;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat";
}

nav {
  background: rgb(6 6 6 / 22%);
  /* box-shadow: 0 0 4px rgb(0 0 0 / 40%); */
  padding: 20px 0;
}

nav h2:hover {
  color: #e41515;
  cursor: pointer;
  transition: 0.5s;
}

nav ol {
  display: flex;
  justify-content: space-around;
  margin: 0%;
}

nav li {
  list-style-type: none;
}

#car-img {
  width: 1195px;
  height: 790px;
}

/* section */

section h2 {
  color: #ffffff;
}
.left-top {
  background: #e41515;
  padding: 15px;
}

section {
  background: rgb(0 0 0 / 80%);
  padding: 15px 60px;
}

section p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-bottom {
  padding: 15px 0px;
  display: flex;
}

.left-bottom-img {
  border: solid 1px white;
  padding: 10px;
  margin-right: 15px;
}

.left {
  border-bottom: 2px solid white;
}

.left-bottom-img img {
  width: 350px;
}

/* footer */

footer {
  background-color: black;
  border-top: solid 2px white;
  padding: 15px;
}

footer p {
  color: #e41515;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat";
  text-align: center;
}

.adress img {
  margin-right: 10px;
}

.tel img {
  margin-right: 10px;
}

.btn.btn-outline-danger {
  width: 100%;
  font-family: "Montserrat";
  font-weight: 700;
  border-radius: 0;
}
